.navbar {
    font-family: 'Bangers', cursive;
}

body {
    background: #4ea;
    height: 150vh;
}

.container {
    font-family: 'Bangers', cursive;
    margin: auto;
    width: 95%;
    height: 50%;
}

#mainRow {
    height: 90%;
}

#mainCol {
    height: 90%;
}

h3, 
h2,
#staticText
 {
    text-align: center;
    margin: auto;
    margin-top: 40px;
}

#theWord {
    font-weight: bold;
    font-size: 50px;
    height: 20%;
}

.page-footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    font-family: 'Bangers', cursive;
}

#wrongLetters {
    height: 75%;
    width: 60%;
    font-size: 40px;
    margin: auto;
    padding: 5px;
    border: 1px solid gray;
}
